Circleguard=

OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
OSU_REDIRECT_URI=http://127.0.0.1:5120/auth/callback

# Flask секретный ключ
SECRET_KEY=

DONATIONALERTS_GOAL_ID=6882493
DONATIONALERTS_CLIENT_ID=
DONATIONALERTS_CLIENT_SECRET=
DONATIONALERTS_REDIRECT_URI=http://127.0.0.1:5120/donationalerts/callback
DONATIONALERTS_ADMIN_OSU_ID=10081838
DONATIONALERTS_GOAL_URL=
