{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Edu%20NSW%20ACT%20Foundation">

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/sharex.css') }}">
{% endblock %}

{% block body %}

<div>
      <span class="owouser">OwOuser private sharex hosting</span>
      <img src="{{ shibe }}" class="shibe">
      <span class="imgcount">Total images: {{ filecount }}</span>
      <span class="screensize">Screenshots took: {{ total_size }}MB</span>
</div>
</div>

{% endblock %}